<div class="row w-100" style="height:64px"></div>
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <div class="col-4"></div>
  <div class="col-4">
    <mat-card class="container-fluid">
      <mat-card-header>
        <mat-card-title>Регистрация</mat-card-title>
      </mat-card-header>
  
      <form>
  
        <mat-card-content>
          <mat-form-field class="w-100 form-group">
            <input class="h-100" type="text" name="login" matInput required minlength="6" placeholder="Имя пользователя" 
             [(ngModel)]="register.login" #login="ngModel">
          </mat-form-field>
          <div class="alert alert-danger" *ngIf="login.invalid && (login.dirty || login.touched)">
              <div *ngIf="login.errors?.required">
                Имя пользователя не введено
              </div>
              <div *ngIf="login.errors?.minlength">
                Имя пользователя должно быть не короче 6 символов
              </div>
          </div>
  
          <mat-form-field class="w-100">
            <input class="h-100" type="email" name="email" matInput required placeholder="Email" [(ngModel)]="register.email" #email="ngModel" ngModel email="true">
          </mat-form-field>
          <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email.errors?.required">
              Email не введен
            </div>
            <div *ngIf="email.invalid">
              Email не корректен
            </div>
          </div>

          <mat-form-field class="w-100">
            <mat-label>Выберите роль...</mat-label>
            <mat-select name="roleId" [(ngModel)]="register.roleId" #roleId="ngModel" required>
              <mat-option [value]="role.Id" *ngFor="let role of roles">{{role.Name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="alert alert-danger" *ngIf="roleId.invalid && (roleId.dirty || roleId.touched)">
            Роль не выбрана
          </div>
  
          <mat-form-field class="w-100">
            <input class="h-100" matInput placeholder="Пароль">
          </mat-form-field>

          <mat-form-field class="w-100">
            <input class="h-100" matInput placeholder="Подтверждение пароля">
          </mat-form-field>
  
        </mat-card-content>
  
        <button mat-stroked-button color="accent" class="btn-block">Зарегистрироваться</button>
  
      </form>
    </mat-card>
  </div>
  <div class="col-4"></div>
</div>
