<div class="container">
    <div class="row" style="height:64px"></div>
    <div class="row">
        <div class="col"></div>
        <div class="col-md-10">
            <button mat-stroked-button color="accent" class="btn-block" (click)="create();">Создать тест</button>
            <mat-card class="box" *ngIf="isCreate">
                <mat-card-header>
                  <mat-card-title>Создание теста</mat-card-title>
                </mat-card-header>
            
                <form class="example-form">
                </form>
              </mat-card>
        </div>
        <div class="col"></div>
    </div>
</div>

